<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>register</title>
        {% load crispy_forms_tags %}
    </head>
    <body>
        <div class="row justify-content-center">
            <div class="col-8">
                <form method='POST' action='' enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{form|crispy}}
                    {{profile_form|crispy}}
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </body>
</html>