{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="gallery">
  {% if songs %}
    {% for song in songs %}
      <a href="{% url 'songs:show_details' song.id %}" class="item">
        <div class="item__description">
          <h1>{{ song.title }}</h1>
          <p class="text-bold text-opacity--80">{{ song.genre }}</p>
          <p>{{ song.artist }}</p>
        </div>
        <img class="item__img" src="{{MEDIA_URL}}{{song.song_image}}" alt="">
      </a>
    {% endfor %}
  {% else %}
    <p>No songs available</p>
  {% endif %}
</div>
{% else %}
  <h1> Not authenticated </h1>
{% endif %}


{% endblock %}