.vscode
*.pyc

# Ignore rec modules
/rec/node_modules
/.idea/misc.xml
/.idea/modules.xml
/.idea/Music-Karaoke-DJango.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.env

music_karaoke/media

music_karaoke/music_karaoke/__pycache__
music_karaoke/authentication/__pycache__

**/migrations/
**/__pycache__/
**/db.sqlite3