{% extends 'base.html' %}

{% block content %}

<div class="landing-page">
  <div class="box">
    <div class="description">
      <h1 class="description__header">
        Enjoy <span class="underline--sec">music</span> with your friends and family !
      </h1>
      <p class="description__text">
        An amazing app that makes every little moment spent on it unforgettable. Start using it today!
      </p>
      <button class="btn btn--sec">sing a song!</button>
    </div>
    <div class="box__img">
      <img src="https://cdn.pixabay.com/photo/2016/02/19/11/36/microphone-1209816_1280.jpg" alt="">
    </div>  
  </div>
</div>
 
{% endblock %}