.landing-page {
    width: 100%;
    min-height: 100vh;

    @include res(htab) {
        .box {
            flex-direction: column !important;
        }
    }

    .box {
        padding: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .description {
            flex: 0 0 48%;
            align-self: flex-start;
            padding: 2rem;

            &__header {
                margin-bottom: 3rem;
            }

            &__text {

            }

            .btn {
                margin-top: 3rem;

            }
        }

        &__img {
            flex: 0 0 48%;
            overflow: hidden;
            border-radius: 8px;
            box-shadow: 0.3rem 0.3rem 1rem 0.1rem rgba(black, 0.2);
            img {
                width: 100%;
                height: auto;
                margin-bottom: -1rem;
            }
        }
    }
}