form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        padding: 1rem 2rem;
        margin-bottom: 2rem;
    }
}
