form {
    min-height: 90vh;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
    input {
        padding: 1rem 2rem;
        margin-bottom: 0.75rem;
        border-width: 0.15rem;
        border-color: rgb(47, 45, 45);
        border-radius: 1rem;
        outline: none;
        width: 35%;
        font-size: 1.5rem;

        &:focus {
            box-shadow: 0rem 0rem 0rem 0.1rem;
        }
    }

    label {
        font-size: 1.7rem;
        padding: 0.75rem;
    }
    
    .errorlist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35%;
        padding: 0.5rem;
        color: red;
        font-size: 1.6rem;
    }

    .helptext{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 35%;
        padding: 0.5rem;
        color: #9e9d9d;
        font-size: 1.5rem;

        li{
            font-size: 1.4rem;
        }
    }

    .form-submit{
        display: flex;
        width: 35%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
        
        button[type=submit]{
            font-size: 180%;
            min-width: 9rem;
            width: 25%;
            outline: none;
            border: none;
            border-radius: 0.5rem;
            background-color: #5cb85c;
            color: white;
            transition: background-color 0.3s;
            padding: 1rem;
            margin-top: 1rem;

            &:hover{
                background-color: #4baa4b;
            }

            &:active{
                background-color: #429742;
            }
        }

        .new-account-link {
            font-size: 180%;
        }
    }
    
}
