.content {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient($color-pri, $color-ter);
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .clips {
      padding-top: 3rem;
      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }
}
