<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Karaoke DJango</title>
  <!-- LINK DO ARKUSZU STYLI -->
</head>
<body>
{% include 'layout/navbar.html' %}
<main>
  <h1> Hello Music Karaoke DJango</h1>
  <h2> To jest główny plik base.html reszta go rozszerza </h2>
  <div class="container">
    {% block content %}
      <!-- TUTAJ LECI ZAWARTOŚĆ INNYCH PLIKÓW -->
    {% endblock %}
  </div>
</main>
{% if user.is_authenticated%}
{% include 'layout/footer.html' %}
{% endif %}
</body>
</html>