*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  .container {
    width: 1000px;
    margin: 0 auto;
  }

  @include res(htab) {
    font-size: 55.5%;
    .container {
      width: 900px;
      margin: 0 auto;
    }
  }

  @include res(vtab) {
    font-size: 48.5%;
    .container {
      width: 600px;
      margin: 0 auto;
    }
  }

  @include res(mobile) {
    font-size: 41.5%;
    .container {
      width: 300px;
      margin: 0 auto;
    }
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}







