.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-gradient {
  background-image: radial-gradient($color-pri, $color-ter);
}

.bg-dark {
  background-color: $color-ter;
  color: $color-white;
}

.bg-primary {
  background-color: $color-pri;
  color: $color-white;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-opacity {
  opacity: 1;
  &--80 {
    opacity: 0.8;
  }

  &--60 {
    opacity: 0.6;
  }
}

.ml-2 {
  margin-left: 1rem;
}

.underline {
  &--sec {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 50%;
      background-color: $color-sec;
      z-index: -1;
    }
  }
}
