.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-gradient {
  background-image: radial-gradient($color-pri, $color-ter);
}

.bg-dark {
  background-color: $color-ter;
  color: $color-white;
}

.bg-primary {
  background-color: $color-pri;
  color: $color-white;
}

.text-center {
  text-align: center;
}