# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Comarch\Desktop\studia\semestr 2\Python\projekt\HerokuTest\test1_single_folder\Music-Karaoke-DJango\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
