<nav class="navbar bg-dark">
  <div class="container">

    <div class="logo-wrapper">
      <div class="logo">
        <svg class="icon icon--light">
          <use xlink:href="../../static/images/sprite.svg#icon-bird2"></use>
        </svg>
      </div>
      <a href="{% url 'landing' %}">
        <h1 class="lg-header">Music Karaoke DJ</h1>
      </a>
    </div>

    <ul class="list">
      {% if user.is_authenticated %}
        <li class="list__item"><a href="{% url 'songs:index' %}">Songs</a></li>
        <li class="list__item"><a href="">Ranking</a></li>
        <li class="list__item"><a href="">Favourites</a></li>
        <li class="list__item"><a href="logout/">Logout</a></li>
      {% else %}
        <li class="list__item"><a href="{% url 'login' %}">Login</a></li>
        <li class="list__item"><a href="{% url 'register' %}">Register</a></li>
      {% endif %}
    </ul>
    
  </div>
</nav>
