.songbox {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .details {
      position: relative;
      overflow: hidden;
      width: 35rem;
      height: 45rem;
      border-radius: 8px;
      color: white;
      box-shadow: 0.3rem 0.3rem 1rem 0.3rem rgba(black, 0.2);
      transition: all 0.3s ease-in;
      margin: 2rem;

      &__description {
        position: absolute;
        bottom: 5rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        z-index: 1;
        transition: all 0.5s;

        & > * {
          margin-bottom: 0.5rem;
        }
      }

      img {
        width: 100%;
        position: absolute;
        z-index: 0;
        top: 0;
        width: 100%;
        height: 100%;
        filter: brightness(0.6);
        transition: all 0.3s ease-in;
        object-fit: cover;
      }
    }

    .audio {
      display: none;

      &:focus {
        outline: none;
      }
    }

    .rec {
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      .inst-audio {
        display: block;
      }

      .player {
        width: 18rem;
        height: 18rem;
        background-color: $color-ter;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0.3rem 0.3rem 0.8rem 0.5rem rgba(black, 0.2);
        transition: all 0.2s ease-in;
        border: none;
        cursor: pointer;
        margin: 3rem 0;

        &:focus {
          outline: none;
        }

        &:active {
          outline: none;
        }

        &:hover {
          transform: scale(1.02);
        }

        &__icon {
          width: 10rem;
          height: 10rem;
          margin-left: -2rem;
          margin-bottom: 1rem;
          fill: white;
        }

        &--active {
          background-color: $color-sec;
        }
      }

      .score {
        padding: 2rem 4rem;
        display: block;
        &__points {
          color: $color-sec;
        }

        &--inactive {
          display: none;
        }
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: #373b44;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 40px 16px;
}

.modal-footer {
  padding: 20px 16px;
  background-color: #373b44;
  color: white;
  display: flex;
  justify-content: flex-end;
}
